# Node
node_modules/
.npm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temp files
*.tmp
*.bak
*.swp
*~.nib
local.properties
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
